<%- include('partials/head'); -%>

    <%- include('partials/sidebar'); -%>
    
        <!-- Page Content -->
        <div id="container">
            <%- include('partials/navbar_v2'); -%>
            
            <div id="content-container">
                <a>Cart</a>
                <% if (locals.book){ %>
                
                    <%for (var result in book){%>


                        <%}%>
                            <% if (result !=null){ %>
                              
                                <% if (search !=null){ %>
                                    
                                    <% } else { %>

                                        <% } %>
                                            <% } else { %>
                                
                                                            <% } %>

                                                                <%for (var i = 0 ;  i <= result ; i++){%>
                                                                    
                                                                    <%- include('partials/cartview' , {book : book , count : i}) %>
                                                                        <%}%>

                             

                                                                            <% } %>
        </div>

<%- include('partials/footer'); -%>